<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Estudiantes</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/" th:href="@{/css/styleTablas.css}">
	<link rel = "styleesheet" href="../static/css/" th:href="@{/jss/estudianteModal.js}">
</head>

<body>
	<nav th:replace="~{/fragmentos/menuAdmin::navbar}"></nav>
	<div class="alert alert-danger alert-dismissible fade show text-center" style="margin: 0 auto; width: 50%; margin-top: 50px;"
		role="alert" th:if="${param.error}">
		<strong>!ERROR</strong> No puedes eliminar un administrador</strong>
			<span aria-hidden="true">&times;</span>
		 
		
	</div>
			<div class="container">
				<h2>Tabla de Estudiantes</h2>
				<hr>
				<!--  <a class="btn btn-primary btn-sm" href="/admin/" th:href="@{/admin/formularioEstudiante}">Añadir</a> -->
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>UserName</th>
							<th>Apellidos</th>
							<th>Apellidos</th>
							<th>Correo</th>
							<th>DNI</th>
							<th>Certificados</th>
							<th>ROL</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estudiante : ${listaEstudiante}">
							<td th:text="${estudiante.id}"></td>
							<td th:text="${estudiante.username}"></td>
							<td th:text="${estudiante.nombre}"></td>
							<td th:text="${estudiante.apellidos}"></td>
							<td th:text="${estudiante.correo}"></td>
							<td th:text="${estudiante.dni}"></td>
							<td th:text="${estudiante.Certificado}"></td>
							<td th:text="${estudiante.noEstudiante}"></td>
							<td style="width: 9%;">
								<button id="modelEliminar" href=""" data-bs-toggle="modal" data-bs-target="#modalEliminar" th:data-id="${estudiante.id}" ></button>
								</button>
							</td>
							
						</tr>
						</tbody>
				</table>
			</div>
			<div class="modal fade" id="modalEliminar">
					                        <div class="modal-dialog modal-dialog-scrollable">
					                            <div class="modal-content">
					                                <div class="modal-body">
					                                    <p>¿Estás seguro de que deseas eliminar este usuario?</p>
					                                </div>
					                                <div class="modal-footer">
					                                    <a href="#" class="btn btn-danger" id="confirmarBorrado">Eliminar usuario</a>
					                                    <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar operación</a>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
			</body>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
		    <script src="../static/js/estudianteModal.js" defer th:src="@{/js/estudianteModal.js}"></script>


</html>