<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Estudiantes</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/" th:href="@{/css/styleTablas.css}">

</head>

<body>
	<nav th:replace="~{/fragmentos/menuAdmin::navbar}"></nav>
	<div class="alert alert-danger alert-dismissible fade show text-center" style="margin: 0 auto; width: 50%; margin-top: 50px;"
		role="alert" th:if="${param.error}">
		<strong>!ERROR</strong> No puedes eliminar un administrador></strong>
			<span aria-hidden="true">&times;</span>
		</button> 
		
	</div>
			<div class="container">
				<h2>Tabla de Estudiantes</h2>
				<hr>
				<!--  <a class="btn btn-primary btn-sm" href="/admin/" th:href="@{/admin/formularioEstudiante}">Añadir</a> -->
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>UserName</th>
							<th>Apellidos</th>
							<th>Apellidos</th>
							<th>Correo</th>
							<th>DNI</th>
							<th>Certificados</th>
							<th>ROL</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estudiante : ${listaEstudiante}">
							<td th:text="${estudiante.id}"></td>
							<td th:text="${estudiante.username}"></td>
							<td th:text="${estudiante.nombre}"></td>
							<td th:text="${estudiante.apellidos}"></td>
							<td th:text="${estudiante.correo}"></td>
							<td th:text="${estudiante.dni}"></td>
							<td th:text="${estudiante.Certificado}"></td>
							<td th:text="${estudiante.noEstudiante}"></td>

							<td>
								<!--  <a type="button" class="btn btn-primary btn-sm" href="/admin/"  th:href="@{/admin/editarEstudiante/{id}(id=${estudiante.id})}">Editar</a> -->
								<a type="button" class="btn btn-danger btn-sm"
									th:href="@{/admin/borrarEstudiante/{id}(id = ${estudiante.id})}" >Eliminar</a>
	     
		</td>
	
	<script src=" https://code.jquery.com/jquery-3.5.1.min.js"></script>
									<script
										src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
									<script
										src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>